<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba Integradora Backend C9</title>
    <link rel="icon" type="image/x-icon" href="./assets/logo1.jpg">
    <meta name="description" content="Proyecto integrador | Camada9 Digital House | Backend"/>
    <link rel="stylesheet" href="css/styleSignUp.css">

    <script src="scripts/appOdontologo.js"></script>



</head>

<body>

<header>
    <h1><a href="index.html"> Clinica Odontologica </a></h1>
    <nav>
        <ul>
            <li>Pacientes</a></li>
            <li>Odontólogos</li>
            <li>Turnos</li>
        </ul>
    </nav>

    <div class="info">
        <p class="clima">🌤 14.3° Capital Federal, Argentina </p>

    </div>
</header>
<div class="container">
    <form class="add_new_odontologo">
        <div class="form-header">
            <h2>Ingresar un nuevo Odontólogo</h2>

        </div>
        <li></li>

        <label>Matricula</label>
        <input id="inputMatricula" placeholder="Ingresa Matricula de Odontólogo">


        <label>Nombre</label>
        <input id="inputNombre" type="text">

        <label>Apellido</label>
        <input id="inputApellido" type="text">

        <button type="submit">Registrar Odontólogo</button>
    </form>

</div>


</body>

<footer>
    Proyecto de integrador Backend C9.
    Mauricio Vargas y Maria de Los Angeles Silva
</footer>

</body>

</html>